iframe {
  padding-bottom: 1rem;
}

div.highlight {
  overflow: auto;
  border-radius: .5em;
  border: .2em solid hsl(0, 0%, 33%);
}

div.highlight > pre {
  /* float: left ensures that overflowing code retains its background color
   * within the scrollable element. min-width: 100% ensures that
   * non-overflowing code blocks retain the background color over the width
   * of the code block instead of ending prematurely at the end of the line.
   */
  float: left;
  min-width: 100%;
}

.katex {
  font-size: 1.1em !important;
}

.aside {
  background-color: rgba(0,0,0,0.1);
  margin: 1.75em 0 1.75em;
  padding: 0.2em 1em;
  border-radius: 2%;
}

.posts .post-date {
  font-size: 0.9em;
  margin-bottom: 0em;
}

.posts .post-title {
  font-size: 1.1em;
}
