.contact-form {
  input,
  textarea {
    margin-bottom: .5rem;
    font: inherit;
    width: 92%;

    &:required+span::after {
      content: ' *';
      color: red;
      vertical-align: top;
    }

    &:not(:placeholder-shown):valid {
      background-color: #f4feee;
    }

    &:not(:placeholder-shown):invalid {
      background-color: #fff0f0;
    }
  }

  label,
  button {
    display: block;
  }
}

.js-submitted {
  input,
  textarea {
    &:valid {
      background-color: #f4feee;
    }

    &:invalid {
      background-color: #fff0f0;
    }
  }
}

.hidden,
%hidden {
  display: none;
}

.js-hidden,
%js-hidden {
  html.js & {
    @extend %hidden;
  }
}

#contact-submit {
  background-color: #0088cc;
  border: none;
  border-radius: 0.25em;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  padding: 0.25em 0.4em;
}

#contact-submit:disabled {
  background-color: #d8d8d8;
}

#contact-submit:hover:enabled {
  background-color: #0077b3;
}
