{{ "<!-- isso -->" | safeHTML }}
<h3 id="nojs-comments">JavaScript must be enabled to view comments</h3>
<script>
  document.getElementById("nojs-comments").remove();
</script>
<script
  data-isso="/isso/"
  data-isso-id="{{ .RelPermalink }}"
  data-isso-reply-to-self="true"
  data-isso-require-author="true"
  data-isso-reply-notifications="false"
  data-isso-vote="false"
  src="/isso/js/embed.min.js"
></script>

<section
  id="isso-thread"
  data-isso-id="{{ .RelPermalink }}"
  data-title="{{ .RelPermalink }}"
></section>
{{ "<!-- end isso -->" | safeHTML }}
