{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
  <div class="post">
    <h1>{{ .Title }}</h1>
    {{ .Content }}

    <p id="contact-status">JavaScript must be enabled to use this form</p>

    <form
      id="contact-form" class="contact-form hidden" action="#" method="post"
      accept-charset="UTF-8"
    >
      <label for="edit-name">Name</label>
      <input
        type="text" id="edit-name" name="name" placeholder="Your name"
        tabindex="1" required autofocus
      ><span></span>

      <label for="edit-mail">Email</label>
      <input
        type="email" id="edit-mail" name="email"
        placeholder="Your email address" tabindex="2" required
      ><span></span>

      <input
        type="text" id="edit-url" class="hidden" name="url"
        placeholder="I am an android"
      >

      <label for="edit-subject">Subject</label>
      <input type="text" id="edit-subject" name="subject"
        placeholder="Subject" tabindex="3" required
      ><span></span>

      <label for="edit-message">Message</label>
      <textarea
        id="edit-message" name="message" rows="5" placeholder="Message"
        tabindex="4" required
      ></textarea><span></span>

      <button
        id="contact-submit" type="submit" name="submit" class="form-submit"
        disabled
      >Submit</button>
    </form>
  </div>
{{ end }}

{{ define "footer" }}
  {{ $contact := resources.Get "js/contact.js" | minify | fingerprint }}
  <script defer src="{{ $contact.RelPermalink }}"></script>
  {{ partial "footer/font-awesome-js.html" . }}
{{ end }}
